link href="/assets/undev.css?#{rand.denominator}" media="screen" rel="stylesheet" type="text/css"

section.slide
  h1 Инфраструктура веб-приложений в компании Undev
  h3.hello Nick Recobra
  h3.hello https://github.com/oruen
  h3.hello Undev

section.slide
  h2 Задачи инфраструктуры
  ul.x-large
    li Автоматизация
    li Коммуникация
    li Контроль

section.slide
  h2 Wiki
  ul.x-large
    li Обмен и хранение информации
    li История
  img.corner src="/assets/undev/UndevLogo.png"
  a.info href="http://www.mediawiki.org/" http://www.mediawiki.org

section.slide
  h2 Redmine
  ul.x-large
    li Задачи
    li Контроль выполнения
    li Обсуждения
  img.corner src="/assets/undev/redmine_fluid_icon-300x300.png"
  a.info href="http://www.redmine.org/" http://www.redmine.org

section.slide
  h2 Ruby
  ul.x-large
    li RVM
    li Bundler
  img.corner src="/assets/undev/Ruby_logo.png"
  a.info href="https://rvm.io/" https://rvm.io

section.slide
  h2 Gitorius
  ul.x-large
    li Хранение и обмен кодом
  img.corner src="/assets/undev/Gitouriuous-kloss-6.png"
  a.info href="http://gitorious.org/" http://gitorious.org

section.slide
  h2 Geminabox
  ul.x-large
    li Хранилище гемов
  img.corner src="/assets/undev/RubyGems_512-400x260.png" style="width:260px;"
  a.info href="https://github.com/cwninja/geminabox" https://github.com/cwninja/geminabox

section.slide
  h2 Artifactory
  ul.x-large
    li Хранилище java-библиотек
    li Proxy & local cache
  img.corner src="/assets/undev/artifactory.logo.155x35.jpeg" style="width:350px;height:80px"
  a.info style="font-size:2.2em;"href="http://www.jfrog.com/home/v_artifactory_opensource_overview" http://www.jfrog.com/home/v_artifactory_opensource_overview

section.slide
  h2 Jenkins
  ul.x-large
    li Continous integration
    li Linux, Windows
  img.corner src="/assets/undev/Jenkins.png" style="width:260px;"
  a.info href="http://jenkins-ci.org/" http://jenkins-ci.org

section.slide
  h2 Open Build Service
  ul.x-large
    li
      |Сборка и распространение
      br
      | deb-пакетов
  img.corner src="/assets/undev/open-suse-logo.png" style="width:260px;"
  a.info href="http://en.opensuse.org/Portal:Build_Service" http://en.opensuse.org/Portal:Build_Service

section.slide
  h2 Goblr
  ul.x-large
    li
      | Сборка пакетов в OBS по хуку
      br
      | из git-репозитория
  img.corner src="/assets/undev/gobbler.png" style="width:220px;"
  a.info href="https://github.com/verm666/goblr" https://github.com/verm666/goblr

section.slide
  h2 Labarbara
  ul.x-large
    li
      | Почтовые уведомления
      br
      | о собранных пакетах
  img.corner src="/assets/undev/labarbara.jpeg" style="height:320px;"

section.slide
  h2 Chef
  ul.x-large
    li Менеджмент конфигурации
    li Деплой приложений
  img.corner src="/assets/undev/chef.png"
  a.info href="http://wiki.opscode.com/display/chef/Home" http://wiki.opscode.com/display/chef/Home

section.slide
  h2 Capistrano
  ul.x-large
    li Деплой приложений
  img.corner src="/assets/undev/capistrano.jpeg" style="width:320px;"
  a.info href="http://capistranorb.com/" http://capistranorb.com

section.slide
  h2 Runit
  ul.x-large
    li Мониторинг сервисов
  a.info href="http://smarden.org/runit/" http://smarden.org/runit

section.slide
  h2 Runit-man
  ul.x-large
    li Веб-интерфейс для Runit'а
  a.info href="https://github.com/Undev/runit-man" https://github.com/Undev/runit-man

section.slide
  h2 Errbit
  ul.x-large
    li Отлов ошибок
    li История деплоев
    li Уведомления о задеплоеном
  img.corner src="/assets/undev/dream-catcher.jpeg" style="height:500px;width:300px;"
  a.info href="https://github.com/errbit/errbit" https://github.com/errbit/errbit

section.slide
  h2 New Relic
  ul.x-large
    li Мониторинг производительности
  img.corner src="/assets/undev/NewRelic_inline.png"
  a.info href="http://newrelic.com/" http://newrelic.com

section.slide
  h2 Zabbix
  ul.x-large
    li
      | Мониторинг системы: cpu, hdd,
      br
      | memory
    li
      | Мониторинг приложения:
      br
      | очереди, поиск, etc.
  img.corner src="/assets/undev/zabbix.png"
  a.info href="http://www.zabbix.com/" http://www.zabbix.com

section.slide
  h1 Спасибо!
