//= require core/deck.core
//= require_tree ./extensions
//= require themes/style/swiss
//= require themes/transition/horizontal-slide

body {
  background: url("/assets/darkdenim3.png") #333;
}

body .deck-container {
  width: 100%;
  max-width: 1024px;
  margin: 16px auto 24px auto;
  height: 768px;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.deck-container .slide {
  background-color: transparent;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.no-boxshadow .deck-container {
  border: 1px solid #e4e4e4;
}
.boxshadow .deck-container {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.x-large li, .x-large p{
  font-size: 35pt;
}

.large li, .large p{
  font-size: 25pt;
}

.presentation.deck-container .notes {
  font-size: 20pt;
}
