img.corner {
  position: absolute;
  top: 5em;
  right: 2em;
  width: 210px;
  height: 200px;
}

a.info {
  position: absolute;
  bottom: 0.5em;
  font-size: 3em;
}

.deck-container .slide h3.hello {
  color: #C00;
}
